@import "tailwindcss";
@import "./theme.css";

/* Swiper CSS */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* =========================
   ROBOTO
========================= */

/* Roboto 400 */
@font-face {
  font-family: "Roboto";
  src: url("/new/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto 600 */
@font-face {
  font-family: "Roboto";
  src: url("/new/fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Roboto 700 */
@font-face {
  font-family: "Roboto";
  src: url("/new/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   NEXA
========================= */
@font-face {
  font-family: "Nexa";
  src: url("/new/fonts/Nexa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Nexa Heavy */
@font-face {
  font-family: "Nexa";
  src: url("/new/fonts/NexaHeavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Nexa Black (optional) */
@font-face {
  font-family: "Nexa";
  src: url("/new/fonts/NexaBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.chip {
  @apply px-2 py-1 rounded-lg
         border border-inv-border-medium
         text-inv-foreground-high
         text-sm font-semibold font-['Nexa'] leading-4
         transition-colors duration-200
         hover:bg-inv-alpha-10;
}

/* Hide scrollbar cross-browser */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE / Edge */
  scrollbar-width: none; /* Firefox */
}

.heartbeat-dot {
  animation: heartbeat 2.5s ease-in-out infinite;
  transform-origin: center;
}

@keyframes heartbeat {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(1.2);
    opacity: 1;
  }
  40% {
    transform: scale(0.9);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.dropdown-terms:hover .dropdown-menu-terms {
  display: block;
}

.overlay_agent {
  position: absolute;
  left: 25%;
  bottom: 50%; /* final center point */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: 30;
}

/* Hover triggers animation */
.live_agent_container:hover .overlay_agent {
  animation: overlay_animation 1.2s ease-out forwards;
}

/* Desktop animation*/
@keyframes overlay_animation {
  from {
    bottom: 50%;
    opacity: 0;
  }
  to {
    bottom: 90%;
    opacity: 1;
  }
}

/* Mobile animation */
@media (max-width: 640px) {
  @keyframes overlay_animation {
    from {
      bottom: 110%;
      opacity: 0;
    }
    to {
      bottom: 40%;
      opacity: 1;
    }
  }
}

.trendingHelpSwiper .swiper-slide {
  width: 351px !important;
}

.aboutCryptoSwiper .swiper-slide {
  width: 460px !important;
}

/* Slider widths for Featured Help Articles */
.featuredHelpSwiper .swiper-slide,
.articlesSwiper .swiper-slide {
  width: 348px !important;
}

@media (max-width: 640px) {
  .trendingHelpSwiper .swiper-slide {
    width: 283px !important;
  }

  .aboutCryptoSwiper .swiper-slide {
    width: 288px !important;
  }

  .featuredHelpSwiper .swiper-slide,
  .articlesSwiper .swiper-slide {
    width: 283px !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-navigation-icon {
  display: none !important;
}

/**
Hide scrollbar under search bar
**/

/* Hide scrollbar but keep scroll */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes slide-in-out {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px); /* move into page */
  }
  100% {
    transform: translateX(0);
  }
}

/* Prevents Safari from showing the default arrow on <details> */
summary::-webkit-details-marker {
  display: none;
}
summary {
  list-style: none;
}
