@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  /* === Extra Radii === */
  --radius-lgx: 0.625rem;
  --radius-action-1: 1000rem;
  --radius-action-2: 0.5rem;

  --radius-full: 1000rem;

  /* === Extra Font Sizes === */
  --text-3xs: 0.5rem;
  --text-2xs: 0.625rem;

  --font-display: "Kommissar Condensed";
  --font-heading: Nexa;
  --font-body: Roboto;

  --color-accent: hsl(218 17% 19%);
  --color-accent-foreground: hsl(0 0% 100%);
  --color-alpha-0: hsl(0 0% 50% / 0%);
  --color-alpha-10: hsl(215 61% 15% / 10%);
  --color-alpha-2-5: hsl(215 61% 15% / 2%);
  --color-alpha-20: hsl(215 61% 15% / 20%);
  --color-alpha-30: hsl(215 61% 15% / 30%);
  --color-alpha-40: hsl(215 61% 15% / 40%);
  --color-alpha-5: hsl(215 61% 15% / 5%);
  --color-alpha-50: hsl(215 61% 15% / 50%);
  --color-alpha-60: hsl(215 61% 15% / 60%);
  --color-alpha-7-5: hsl(215 61% 15% / 8%);
  --color-alpha-70: hsl(215 61% 15% / 70%);
  --color-alpha-80: hsl(215 61% 15% / 80%);
  --color-alpha-90: hsl(215 61% 15% / 90%);
  --color-alpha-backdrop: hsl(0 0% 0% / 75%);
  --color-alpha-overlay: hsl(0 0% 100% / 60%);
  --color-background-1: hsl(214 37% 96%);
  --color-background-2: hsl(180 100% 100%);
  --color-border-high: hsl(218 17% 19%);
  --color-border-low: hsl(218 31% 90%);
  --color-border-medium: hsl(218 20% 68%);
  --color-brand: hsl(219 72% 20%);
  --color-brand-foreground: hsl(180 100% 100%);
  --color-card-1: hsl(180 100% 100%);
  --color-card-2: hsl(210 40% 98%);
  --color-card-3: hsl(214 37% 96%);
  --color-card-border: hsl(215 33% 93%);
  --color-card-solid: hsl(180 100% 100%);
  --color-card-x: hsl(0 76% 95% / 50%);
  --color-card-x-border: hsl(0 100% 42% / 50%);
  --color-chart-1: hsl(245 99% 68%);
  --color-chart-1-foreground: hsl(180 100% 100%);
  --color-cs-blob-1: hsl(0 0% 0%);
  --color-cs-blob-2: hsl(0 0% 0%);
  --color-cs-blob-3: hsl(0 0% 0%);
  --color-cs-game-black: hsl(0 0% 0%);
  --color-cs-game-black-foreground: hsl(180 100% 100%);
  --color-cs-game-green: hsl(99 95% 39%);
  --color-cs-game-green-foreground: hsl(180 100% 100%);
  --color-cs-game-red: hsl(0 100% 37%);
  --color-cs-game-red-foreground: hsl(180 100% 100%);
  --color-cs-nav-gradient-end: hsl(0 0% 0%);
  --color-cs-nav-gradient-foreground: hsl(0 0% 0%);
  --color-cs-nav-gradient-start: hsl(0 0% 0%);
  --color-cta-1: hsl(0 100% 46%);
  --color-cta-1-foreground: hsl(0 0% 100%);
  --color-cta-2: hsl(45 100% 51%);
  --color-cta-2-foreground: hsl(218 17% 19%);
  --color-cta-3: hsl(211 100% 50%);
  --color-cta-3-foreground: hsl(0 0% 100%);
  --color-danger: hsl(0 100% 46%);
  --color-danger-foreground: hsl(0 0% 100%);
  --color-danger-muted: hsl(13 100% 98%);
  --color-danger-text: hsl(0 100% 37%);
  --color-fill-high: hsl(219 18% 62%);
  --color-fill-low: hsl(214 37% 96%);
  --color-fill-medium: hsl(215 33% 93%);
  --color-focus: hsl(208 100% 69%);
  --color-foreground-high: hsl(218 17% 19%);
  --color-foreground-low: hsl(220 16% 57%);
  --color-foreground-medium: hsl(219 15% 40%);
  --color-informative: hsl(211 100% 50%);
  --color-informative-foreground: hsl(0 0% 100%);
  --color-informative-muted: hsl(204 100% 97%);
  --color-inv-accent: hsl(210 40% 98%);
  --color-inv-accent-foreground: hsl(218 17% 19%);
  --color-inv-alpha-0: hsl(0 0% 50% / 0%);
  --color-inv-alpha-10: hsl(0 0% 100% / 10%);
  --color-inv-alpha-2-5: hsl(0 0% 100% / 2%);
  --color-inv-alpha-20: hsl(0 0% 100% / 20%);
  --color-inv-alpha-30: hsl(0 0% 100% / 30%);
  --color-inv-alpha-40: hsl(0 0% 100% / 40%);
  --color-inv-alpha-5: hsl(0 0% 100% / 5%);
  --color-inv-alpha-50: hsl(0 0% 100% / 50%);
  --color-inv-alpha-60: hsl(0 0% 100% / 60%);
  --color-inv-alpha-7-5: hsl(0 0% 100% / 8%);
  --color-inv-alpha-70: hsl(0 0% 100% / 70%);
  --color-inv-alpha-80: hsl(0 0% 100% / 80%);
  --color-inv-alpha-90: hsl(0 0% 100% / 90%);
  --color-inv-alpha-backdrop: hsl(0 0% 0% / 75%);
  --color-inv-alpha-overlay: hsl(215 54% 7% / 60%);
  --color-inv-background-1: hsl(211 100% 5%);
  --color-inv-background-2: hsl(211 100% 5%);
  --color-inv-border-high: hsl(210 40% 98%);
  --color-inv-border-low: hsl(219 18% 62%);
  --color-inv-border-medium: hsl(219 21% 74%);
  --color-inv-brand: hsl(220 60% 95%);
  --color-inv-brand-foreground: hsl(218 17% 19%);
  --color-inv-card-1: hsl(211 100% 10%);
  --color-inv-card-2: hsl(211 100% 15%);
  --color-inv-card-3: hsl(211 100% 21%);
  --color-inv-card-border: hsl(219 28% 18%);
  --color-inv-card-solid: hsl(211 100% 10%);
  --color-inv-card-x: hsl(0 80% 14% / 50%);
  --color-inv-card-x-border: hsl(0 100% 26% / 50%);
  --color-inv-chart-1: hsl(245 99% 68%);
  --color-inv-chart-1-foreground: hsl(180 100% 100%);
  --color-inv-danger: hsl(0 100% 76%);
  --color-inv-danger-foreground: hsl(218 17% 19%);
  --color-inv-danger-muted: hsl(0 100% 26%);
  --color-inv-danger-text: hsl(1 100% 89%);
  --color-inv-fill-high: hsl(219 16% 35%);
  --color-inv-fill-low: hsl(218 17% 19%);
  --color-inv-fill-medium: hsl(219 16% 24%);
  --color-inv-focus: hsl(206 100% 82%);
  --color-inv-foreground-high: hsl(0 0% 100%);
  --color-inv-foreground-low: hsl(218 20% 68%);
  --color-inv-foreground-medium: hsl(218 28% 86%);
  --color-inv-informative: hsl(206 100% 82%);
  --color-inv-informative-foreground: hsl(218 17% 19%);
  --color-inv-informative-muted: hsl(211 100% 15%);
  --color-inv-link: hsl(206 100% 82%);
  --color-inv-link-hover: hsl(208 100% 69%);
  --color-inv-link-visited: hsl(260 70% 82%);
  --color-inv-primary: hsl(211 100% 50%);
  --color-inv-primary-foreground: hsl(0 0% 100%);
  --color-inv-primary-muted: hsl(211 100% 26%);
  --color-inv-primary-text: hsl(206 100% 82%);
  --color-inv-success: hsl(98 77% 66%);
  --color-inv-success-foreground: hsl(218 17% 19%);
  --color-inv-success-muted: hsl(98 100% 22%);
  --color-inv-success-text: hsl(98 77% 66%);
  --color-inv-warning: hsl(55 100% 67%);
  --color-inv-warning-foreground: hsl(218 17% 19%);
  --color-inv-warning-muted: hsl(54 97% 25%);
  --color-inv-warning-text: hsl(55 100% 67%);
  --color-link: hsl(211 100% 46%);
  --color-link-hover: hsl(210 100% 56%);
  --color-link-visited: hsl(264 97% 62%);
  --color-primary: hsl(211 100% 50%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-primary-muted: hsl(204 100% 97%);
  --color-primary-text: hsl(211 100% 46%);
  --color-success: hsl(99 95% 39%);
  --color-success-foreground: hsl(180 100% 100%);
  --color-success-muted: hsl(96 100% 97%);
  --color-success-text: hsl(98 100% 27%);
  --color-tone-blue: hsl(210 100% 56%);
  --color-tone-blue-foreground: hsl(180 100% 100%);
  --color-tone-flipped: hsl(0 0% 0%);
  --color-tone-flipped-foreground: hsl(180 100% 100%);
  --color-tone-gray: hsl(218 31% 90%);
  --color-tone-gray-foreground: hsl(218 17% 19%);
  --color-tone-green: hsl(99 100% 35%);
  --color-tone-green-foreground: hsl(180 100% 100%);
  --color-tone-navy: hsl(219 50% 47%);
  --color-tone-navy-foreground: hsl(180 100% 100%);
  --color-tone-orange: hsl(29 100% 45%);
  --color-tone-orange-foreground: hsl(180 100% 100%);
  --color-tone-pink: hsl(313 100% 45%);
  --color-tone-pink-foreground: hsl(180 100% 100%);
  --color-tone-purple: hsl(260 48% 54%);
  --color-tone-purple-foreground: hsl(180 100% 100%);
  --color-tone-red: hsl(0 100% 46%);
  --color-tone-red-foreground: hsl(180 100% 100%);
  --color-tone-yellow: hsl(54 92% 54%);
  --color-tone-yellow-foreground: hsl(218 17% 19%);
  --color-warning: hsl(45 100% 51%);
  --color-warning-foreground: hsl(218 17% 19%);
  --color-warning-muted: hsl(60 100% 97%);
  --color-warning-text: hsl(34 98% 40%);

  /* === Generated Interaction Tokens === */
  --color-primary-hover: hsl(211 100% 60%);
  --color-primary-active: hsl(211 100% 70%);
  --color-inv-primary-hover: hsl(211 100% 60%);
  --color-inv-primary-active: hsl(211 100% 70%);
  --color-fill-medium-hover: hsl(215 33% 83%);
  --color-fill-medium-active: hsl(215 33% 73%);
  --color-inv-fill-medium-hover: hsl(219 16% 34%);
  --color-inv-fill-medium-active: hsl(219 16% 44%);
  --color-transparent-hover: hsl(214 37% 4% / 10%);
  --color-transparent-active: hsl(214 37% 4% / 20%);
  --color-inv-transparent-hover: hsl(211 100% 95% / 10%);
  --color-inv-transparent-active: hsl(211 100% 95% / 20%);
  --color-fill-low-hover: hsl(214 37% 86%);
  --color-fill-low-active: hsl(214 37% 76%);
  --color-inv-fill-low-hover: hsl(218 17% 29%);
  --color-inv-fill-low-active: hsl(218 17% 39%);
  --color-primary-muted-hover: hsl(204 100% 87%);
  --color-primary-muted-active: hsl(204 100% 77%);
  --color-inv-primary-muted-hover: hsl(211 100% 36%);
  --color-inv-primary-muted-active: hsl(211 100% 46%);
  --color-foreground-high-hover: hsl(218 17% 29%);
  --color-foreground-high-active: hsl(218 17% 39%);
  --color-inv-foreground-high-hover: hsl(0 0% 90%);
  --color-inv-foreground-high-active: hsl(0 0% 80%);
  --color-accent-hover: hsl(218 17% 29%);
  --color-accent-active: hsl(218 17% 39%);
  --color-inv-accent-hover: hsl(210 40% 88%);
  --color-inv-accent-active: hsl(210 40% 78%);
}

.dark {
  --color-accent: hsl(210 40% 98%);
  --color-accent-foreground: hsl(218 17% 19%);
  --color-alpha-0: hsl(0 0% 50% / 0%);
  --color-alpha-10: hsl(0 0% 100% / 10%);
  --color-alpha-2-5: hsl(0 0% 0%);
  --color-alpha-20: hsl(0 0% 100% / 20%);
  --color-alpha-30: hsl(0 0% 100% / 30%);
  --color-alpha-40: hsl(0 0% 100% / 40%);
  --color-alpha-5: hsl(0 0% 100% / 5%);
  --color-alpha-50: hsl(0 0% 100% / 50%);
  --color-alpha-60: hsl(0 0% 100% / 60%);
  --color-alpha-7-5: hsl(0 0% 100% / 8%);
  --color-alpha-70: hsl(0 0% 100% / 70%);
  --color-alpha-80: hsl(0 0% 100% / 80%);
  --color-alpha-90: hsl(0 0% 100% / 90%);
  --color-alpha-backdrop: hsl(0 0% 0% / 75%);
  --color-alpha-overlay: hsl(215 54% 7% / 60%);
  --color-background-1: hsl(218 100% 5%);
  --color-background-2: hsl(211 100% 10%);
  --color-border-high: hsl(219 15% 51%);
  --color-border-low: hsl(218 16% 29%);
  --color-border-medium: hsl(219 15% 40%);
  --color-brand: hsl(220 60% 95%);
  --color-brand-foreground: hsl(218 17% 19%);
  --color-card-1: hsl(219 40% 14%);
  --color-card-2: hsl(218 42% 12%);
  --color-card-3: hsl(219 41% 8%);
  --color-card-border: hsl(0 0% 50% / 0%);
  --color-card-solid: hsl(219 40% 14%);
  --color-card-x: hsl(0 80% 14% / 50%);
  --color-card-x-border: hsl(0 100% 26% / 50%);
  --color-chart-1: hsl(245 99% 68%);
  --color-chart-1-foreground: hsl(180 100% 100%);
  --color-cs-blob-1: hsl(0 0% 0%);
  --color-cs-blob-2: hsl(0 0% 0%);
  --color-cs-blob-3: hsl(0 0% 0%);
  --color-cs-game-black: hsl(0 0% 0%);
  --color-cs-game-black-foreground: hsl(180 100% 100%);
  --color-cs-game-green: hsl(99 95% 39%);
  --color-cs-game-green-foreground: hsl(180 100% 100%);
  --color-cs-game-red: hsl(0 100% 37%);
  --color-cs-game-red-foreground: hsl(180 100% 100%);
  --color-cs-nav-gradient-end: hsl(0 0% 0%);
  --color-cs-nav-gradient-foreground: hsl(0 0% 0%);
  --color-cs-nav-gradient-start: hsl(0 0% 0%);
  --color-cta-1: hsl(0 100% 46%);
  --color-cta-1-foreground: hsl(0 0% 100%);
  --color-cta-2: hsl(45 100% 51%);
  --color-cta-2-foreground: hsl(218 17% 19%);
  --color-cta-3: hsl(211 100% 50%);
  --color-cta-3-foreground: hsl(0 0% 100%);
  --color-danger: hsl(0 100% 76%);
  --color-danger-foreground: hsl(218 17% 19%);
  --color-danger-muted: hsl(0 100% 26%);
  --color-danger-text: hsl(1 100% 89%);
  --color-fill-high: hsl(219 16% 35%);
  --color-fill-low: hsl(218 17% 19%);
  --color-fill-medium: hsl(219 16% 24%);
  --color-focus: hsl(206 100% 82%);
  --color-foreground-high: hsl(210 40% 98%);
  --color-foreground-low: hsl(218 20% 68%);
  --color-foreground-medium: hsl(218 28% 86%);
  --color-informative: hsl(206 100% 82%);
  --color-informative-foreground: hsl(218 17% 19%);
  --color-informative-muted: hsl(211 100% 15%);
  --color-inv-accent: hsl(210 40% 98%);
  --color-inv-accent-foreground: hsl(218 17% 19%);
  --color-inv-alpha-0: hsl(0 0% 50% / 0%);
  --color-inv-alpha-10: hsl(0 0% 100% / 10%);
  --color-inv-alpha-2-5: hsl(0 0% 100% / 2%);
  --color-inv-alpha-20: hsl(0 0% 100% / 20%);
  --color-inv-alpha-30: hsl(0 0% 100% / 30%);
  --color-inv-alpha-40: hsl(0 0% 100% / 40%);
  --color-inv-alpha-5: hsl(0 0% 100% / 5%);
  --color-inv-alpha-50: hsl(0 0% 100% / 50%);
  --color-inv-alpha-60: hsl(0 0% 100% / 60%);
  --color-inv-alpha-7-5: hsl(0 0% 100% / 8%);
  --color-inv-alpha-70: hsl(0 0% 100% / 70%);
  --color-inv-alpha-80: hsl(0 0% 100% / 80%);
  --color-inv-alpha-90: hsl(0 0% 100% / 90%);
  --color-inv-alpha-backdrop: hsl(0 0% 0% / 75%);
  --color-inv-alpha-overlay: hsl(215 54% 7% / 60%);
  --color-inv-background-1: hsl(211 100% 5%);
  --color-inv-background-2: hsl(211 100% 5%);
  --color-inv-border-high: hsl(210 40% 98%);
  --color-inv-border-low: hsl(219 18% 62%);
  --color-inv-border-medium: hsl(219 21% 74%);
  --color-inv-brand: hsl(220 60% 95%);
  --color-inv-brand-foreground: hsl(218 17% 19%);
  --color-inv-card-1: hsl(211 100% 10%);
  --color-inv-card-2: hsl(211 100% 15%);
  --color-inv-card-3: hsl(211 100% 21%);
  --color-inv-card-border: hsl(219 28% 18%);
  --color-inv-card-solid: hsl(211 100% 10%);
  --color-inv-card-x: hsl(0 80% 14% / 50%);
  --color-inv-card-x-border: hsl(0 100% 26% / 50%);
  --color-inv-chart-1: hsl(245 99% 68%);
  --color-inv-chart-1-foreground: hsl(180 100% 100%);
  --color-inv-danger: hsl(0 100% 76%);
  --color-inv-danger-foreground: hsl(218 17% 19%);
  --color-inv-danger-muted: hsl(0 100% 26%);
  --color-inv-danger-text: hsl(1 100% 89%);
  --color-inv-fill-high: hsl(219 16% 35%);
  --color-inv-fill-low: hsl(218 17% 19%);
  --color-inv-fill-medium: hsl(219 16% 24%);
  --color-inv-focus: hsl(206 100% 82%);
  --color-inv-foreground-high: hsl(0 0% 100%);
  --color-inv-foreground-low: hsl(218 20% 68%);
  --color-inv-foreground-medium: hsl(218 28% 86%);
  --color-inv-informative: hsl(206 100% 82%);
  --color-inv-informative-foreground: hsl(218 17% 19%);
  --color-inv-informative-muted: hsl(211 100% 15%);
  --color-inv-link: hsl(206 100% 82%);
  --color-inv-link-hover: hsl(208 100% 69%);
  --color-inv-link-visited: hsl(260 70% 82%);
  --color-inv-primary: hsl(211 100% 50%);
  --color-inv-primary-foreground: hsl(0 0% 100%);
  --color-inv-primary-muted: hsl(211 100% 26%);
  --color-inv-primary-text: hsl(206 100% 82%);
  --color-inv-success: hsl(98 77% 66%);
  --color-inv-success-foreground: hsl(218 17% 19%);
  --color-inv-success-muted: hsl(98 100% 22%);
  --color-inv-success-text: hsl(98 77% 66%);
  --color-inv-warning: hsl(55 100% 67%);
  --color-inv-warning-foreground: hsl(218 17% 19%);
  --color-inv-warning-muted: hsl(54 97% 25%);
  --color-inv-warning-text: hsl(55 100% 67%);
  --color-link: hsl(206 100% 82%);
  --color-link-hover: hsl(208 100% 69%);
  --color-link-visited: hsl(260 70% 82%);
  --color-primary: hsl(211 100% 50%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-primary-muted: hsl(211 100% 26%);
  --color-primary-text: hsl(206 100% 82%);
  --color-success: hsl(98 77% 66%);
  --color-success-foreground: hsl(218 17% 19%);
  --color-success-muted: hsl(98 100% 22%);
  --color-success-text: hsl(98 77% 66%);
  --color-tone-blue: hsl(206 100% 82%);
  --color-tone-blue-foreground: hsl(218 17% 19%);
  --color-tone-flipped: hsl(0 0% 100%);
  --color-tone-flipped-foreground: hsl(218 17% 19%);
  --color-tone-gray: hsl(219 16% 35%);
  --color-tone-gray-foreground: hsl(180 100% 100%);
  --color-tone-green: hsl(98 88% 83%);
  --color-tone-green-foreground: hsl(218 17% 19%);
  --color-tone-navy: hsl(219 48% 63%);
  --color-tone-navy-foreground: hsl(218 17% 19%);
  --color-tone-orange: hsl(29 87% 74%);
  --color-tone-orange-foreground: hsl(218 17% 19%);
  --color-tone-pink: hsl(313 60% 73%);
  --color-tone-pink-foreground: hsl(218 17% 19%);
  --color-tone-purple: hsl(259 39% 72%);
  --color-tone-purple-foreground: hsl(218 17% 19%);
  --color-tone-red: hsl(1 100% 89%);
  --color-tone-red-foreground: hsl(218 17% 19%);
  --color-tone-yellow: hsl(56 100% 82%);
  --color-tone-yellow-foreground: hsl(218 17% 19%);
  --color-warning: hsl(55 100% 67%);
  --color-warning-foreground: hsl(218 17% 19%);
  --color-warning-muted: hsl(54 97% 25%);
  --color-warning-text: hsl(55 100% 67%);

  /* === Generated Interaction Tokens === */
  --color-primary-hover: hsl(211 100% 60%);
  --color-primary-active: hsl(211 100% 70%);
  --color-inv-primary-hover: hsl(211 100% 60%);
  --color-inv-primary-active: hsl(211 100% 70%);
  --color-fill-medium-hover: hsl(219 16% 34%);
  --color-fill-medium-active: hsl(219 16% 44%);
  --color-inv-fill-medium-hover: hsl(219 16% 34%);
  --color-inv-fill-medium-active: hsl(219 16% 44%);
  --color-transparent-hover: hsl(218 100% 95% / 10%);
  --color-transparent-active: hsl(218 100% 95% / 20%);
  --color-inv-transparent-hover: hsl(211 100% 95% / 10%);
  --color-inv-transparent-active: hsl(211 100% 95% / 20%);
  --color-fill-low-hover: hsl(218 17% 29%);
  --color-fill-low-active: hsl(218 17% 39%);
  --color-inv-fill-low-hover: hsl(218 17% 29%);
  --color-inv-fill-low-active: hsl(218 17% 39%);
  --color-primary-muted-hover: hsl(211 100% 36%);
  --color-primary-muted-active: hsl(211 100% 46%);
  --color-inv-primary-muted-hover: hsl(211 100% 36%);
  --color-inv-primary-muted-active: hsl(211 100% 46%);
  --color-foreground-high-hover: hsl(210 40% 88%);
  --color-foreground-high-active: hsl(210 40% 78%);
  --color-inv-foreground-high-hover: hsl(0 0% 90%);
  --color-inv-foreground-high-active: hsl(0 0% 80%);
  --color-accent-hover: hsl(210 40% 88%);
  --color-accent-active: hsl(210 40% 78%);
  --color-inv-accent-hover: hsl(210 40% 88%);
  --color-inv-accent-active: hsl(210 40% 78%);
}

@layer base {
  html,
  body {
    @apply bg-background-1 font-body text-foreground-high antialiased;
  }
}
